body {
	padding-top: 70px;
}

.splash {
	text-align: center;
	margin: 10% 0 0 0;
}

.splash .message {
	font-size: 5em;
	line-height: 1.5em;
	-webkit-text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
	text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
	text-transform: uppercase;
}

.splash .fa-spinner {
	text-align: center;
	display: inline-block;
	font-size: 5em;
	margin-top: 50px;
}

/* A value of 0 indicates that the connection has not yet been established. */
.ws-readyState-0 {
	color: yellow;
}

/* A value of 1 indicates that the connection is established and communication is possible. */
.ws-readyState-1 {
	color: green;
}

/* A value of 2 indicates that the connection is going through the closing handshake. */
.ws-readyState-2 {
	color: red;
}
/* A value of 3 indicates that the connection has been closed or could not be opened. */
.ws-readyState-3 {
	color: red;
}